In [1]:
import pandas as pd
import yfinance as yf

In [2]:
ticker="USDEUR=X"
ticker2="EURUSD=X"

In [3]:
ER=yf.download(ticker,period="5y")

[*********************100%***********************]  1 of 1 completed

In [5]:
ER2=yf.download(ticker2,period="5y")

[*********************100%***********************]  1 of 1 completed

In [4]:
ER

               Open      High       Low    Close  Adj Close  Volume
Date
2015-12-25  0.91198  0.913490  0.911160  0.91158    0.91158       0
2015-12-28  0.91191  0.912575  0.909091  0.91191    0.91191       0
2015-12-29  0.91100  0.916590  0.909091  0.91114    0.91114       0
2015-12-30  0.91508  0.916590  0.913242  0.91508    0.91508       0
2015-12-31  0.91424  0.920302  0.914160  0.91458    0.91458       0
...             ...       ...       ...      ...        ...     ...
2020-12-21  0.81896  0.824350  0.817350  0.81859    0.81859       0
2020-12-22  0.81710  0.821960  0.815727  0.81720    0.81720       0
2020-12-23  0.82062  0.822520  0.818370  0.82057    0.82057       0
2020-12-24  0.82008  0.821060  0.818500  0.82025    0.82025       0
2020-12-25  0.82070  0.821895  0.818800  0.82070    0.82070       0

[1303 rows x 6 columns]

In [6]:
ER2

                Open      High       Low     Close  Adj Close  Volume
Date
2015-12-25  1.096515  1.097502  1.094703  1.096996   1.096996       0
2015-12-28  1.096599  1.100000  1.095800  1.096599   1.096599       0
2015-12-29  1.097695  1.100000  1.091000  1.097526   1.097526       0
2015-12-30  1.092801  1.095000  1.091000  1.092801   1.092801       0
2015-12-31  1.093805  1.093900  1.086600  1.093398   1.093398       0
...              ...       ...       ...       ...        ...     ...
2020-12-21  1.221061  1.223466  1.213077  1.221613   1.221613       0
2020-12-22  1.223840  1.225900  1.216604  1.223691   1.223691       0
2020-12-23  1.218591  1.221941  1.215776  1.218665   1.218665       0
2020-12-24  1.219393  1.221747  1.217938  1.219141   1.219141       0
2020-12-25  1.218472  1.221300  1.216700  1.218472   1.218472       0

[1303 rows x 6 columns]

In [7]:
ticker3="USDGBP=X"

In [8]:
ER3=yf.download(ticker3,period="5y")

[*********************100%***********************]  1 of 1 completed

In [9]:
ER3

               Open     High       Low     Close  Adj Close  Volume
Date
2015-12-25  0.67050  0.67050  0.669000  0.670500   0.670500       0
2015-12-28  0.67000  0.67180  0.669700  0.669700   0.669700       0
2015-12-29  0.67153  0.67605  0.670500  0.671410   0.671410       0
2015-12-30  0.67463  0.67580  0.673400  0.674660   0.674660       0
2015-12-31  0.67487  0.67820  0.673500  0.674800   0.674800       0
...             ...      ...       ...       ...        ...     ...
2020-12-21  0.74612  0.75802  0.745610  0.746160   0.746160       0
2020-12-22  0.74359  0.75134  0.743130  0.743520   0.743520       0
2020-12-23  0.74641  0.74778  0.737390  0.746300   0.746300       0
2020-12-24  0.74013  0.74035  0.734200  0.740450   0.740450       0
2020-12-25  0.73694  0.73990  0.734592  0.737898   0.737898       0

[1303 rows x 6 columns]

In [ ]:
##CRYPTOCURRENCY

In [10]:
import pandas as pd
import yfinance as yf

In [11]:
ticker=["BTC-USD","ETH-USD"]

In [16]:
crypt=yf.download(ticker,period="5y").Close

[*********************100%***********************]  2 of 2 completed

In [17]:
crypt

                 BTC-USD     ETH-USD
Date
2015-12-27    422.822998    0.856365
2015-12-28    422.278992    0.845005
2015-12-29    432.983002    0.873054
2015-12-30    426.619995    0.911958
2015-12-31    430.566986    0.933542
...                  ...         ...
2020-12-23  23241.345703  583.714600
2020-12-24  23735.949219  611.607178
2020-12-25  24664.791016  626.410706
2020-12-26  26437.037109  635.835815
2020-12-27  27251.761719  649.793457

[1828 rows x 2 columns]

In [ ]:
#in euros

In [18]:
ticker2=["BTC-EUR","ETH-EUR"]

In [19]:
crypt2=yf.download(ticker2,period="5y").Close

[*********************100%***********************]  2 of 2 completed

In [20]:
crypt2

                 BTC-EUR     ETH-EUR
Date
2015-12-27    385.717010    0.781212
2015-12-28    384.834595    0.770077
2015-12-29    396.395691    0.799280
2015-12-30    390.213104    0.834133
2015-12-31    396.616608    0.859932
...                  ...         ...
2020-12-23  19059.505859  478.686249
2020-12-24  19481.566406  501.983948
2020-12-25  20230.060547  513.782043
2020-12-26  21683.658203  521.512573
2020-12-27  22350.416016  532.884277

[1828 rows x 2 columns]